node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

#uncompleted files
ERC.test.js

Features.txt
Public/JS/Functions.txt
Public/JS/NFTCollectionContractABI.js
Public/JS/SmartContractABI.js
Public/JS/ConnectWalletPage.js
Public/JS/TokenCntractABI.js
Public/JS/VerifiedContractABI.js
